<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div><span
            style="color: #800909; font-size: 64px; font-family: Kreon; font-weight: 600; word-wrap: break-word; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">W</span><span
            style="color: black; font-size: 24px; font-family: Kreon; font-weight: 400; word-wrap: break-word; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">hat
            then is it, do you imagine, that Christ offers up to Almighty God in the Holy Mass? Listen and marvel! In
            all the universe, He found but one gift, one alone, ment to be offered up to the infinite Deity, and that
            was His sacred humanity, holy and immaculate, His adorable Body and Blood, His most pure soul.</span></div>
</body>

</html>