.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 10: 00 - 11: 00 ---> NavLink and active property implementation */

/* 11: 00 - 11:30 --->  adding navigating links to sider components with active feature */

/* 11: 30 - 12: 35 ---> show loggedin user profile using usestate */

/* 12: 35 - 1: 27 ---> change password of logged in user */

/* Lunch */

/* 1: 57 - 2: 55 ---> change password with toast message and pop modal */

/* 2:55 - 3: 25 ---> logout with confirm pop up modal */


